.FormField {
  min-width: min(255px, 100%);
  max-width: min(255px, 100%);
  flex: 1 0 100%;
}

@media (max-width: 767px) {
  .FormField {
    min-width: 100%;
    max-width: 100%;
  }
}

.LabelContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 36px;

}

.Description {
  position: relative;
  margin-bottom: 6px;
  z-index: 10;
}

@media (min-width: 768px) {
  .Inline {
    display: flex;
    align-items: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    max-width: 100%;
  }

  .LabelContainer {
    margin-right: 16px;
    flex: 1;
  }
}

.Component {
  flex: 1;
}

.Error .Component {
  border-color: error;
}

.Warning .Component {
  border-color: warning;
}
