@value warningColor #FEEFB3;
@value errorColor #CC3300;
@value textColor #FFFFFF;
@value default #7D7D7D;
@value infoColor #3E9CC7;

.tip {
  color: textColor;
  background: default;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 5;
}

.tip::before {
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 7px solid transparent;
  border-right: 7px solid default;
  border-bottom: 7px solid transparent;
  border-right-color: default;
  z-index: 6;
  left: 10px;
}

.tip.bottom {
  margin-top: 5px;
}

.tip.top {
  margin-bottom: 5px;
}

.tip.error {
  background: errorColor;
}

.tip.error::before {
  border-right: 7px solid errorColor;
  border-right-color: errorColor;
}

.tip.warning {
  background: warningColor;
  color: #9F6000;
}

.tip.warning::before {
  border-right: 7px solid warningColor;
  border-right-color: warningColor;
}

.tip.info {
  background: infoColor;
  z-index: 7;
}

.tip.info::before {
  border-right: 7px solid infoColor;
  border-right-color: infoColor;
  z-index: 8;
}

.bottom.tip::before {
  top: -10px;
  transform: rotate(90deg);
}

.top.tip::before {
  bottom: -10px;
  transform: rotate(-90deg);
}

.TooltipHoverContainer {
  position: relative;
}

.HoverTooltip {
  position: absolute;
  left: 0;
}

.HoverTooltip.bottom {
  top: 100%;
}

.HoverTooltip.top {
  bottom: 100%;
}
