@value required-color #FF0000;

.Required > div > label:not(:empty)::after {
  content: '*';
  padding: 0 2px;
  color: required-color;
}

.Field {
  flex: 1;
  margin-right: 16px;
  position: relative;
}

.Field .Component {
  flex: 1;
}
