.Group {
  width: 100%;
}

.Section {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;

  .Title {
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    margin: 16px 0;
    color: #6b8792;
    text-transform: uppercase;
  }

  > .Items {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &.Vertical > .Items {
    flex-direction: column;
    align-items: flex-start;
  }

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &.Titled:not(:last-child) > .Items {
    margin-bottom: 16px;
  }

  .Items:empty + .Header {
    display: none;
  }
}

.Section.Titled .Section.Titled .Title {
  font-size: 15px;
  color: #4A5559;
}

.Section.Titled .Section.Titled .Section.Titled .Title {
  font-size: 15px;
  color: #4A5559;
  text-transform: none;
  font-weight: normal;
}
