.Group {
  width: 100%;
}

.Section {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.Section .Title {
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  margin: 16px 0;
  color: #6B8792;
  text-transform: uppercase;
}

.Section > .Items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.Section.Vertical > .Items {
  flex-direction: column;
  align-items: flex-start;
}

/* NOTE: Ideally, we would have CSS-in-JS at this point, since it's an UI lib, but we can at least force generated code to behave */
.Section.Vertical > .Items :global .dslField {
  max-width: 100%;
  width: 100%;
}

.Section .Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Section.Titled:not(:last-child) > .Items {
  margin-bottom: 16px;
}

.Section .Items:empty + .Header {
  display: none;
}

.Section.Titled .Section.Titled .Title {
  font-size: 15px;
  color: #4A5559;
}

.Section.Titled .Section.Titled .Section.Titled .Title {
  font-size: 13px;
  color: #6B8792;
  text-transform: uppercase;
  font-weight: normal;
}

.Section.Titled .Section.Titled .Section.Titled .Section.Titled .Title {
  font-size: 14px;
  color: #4A5559;
  text-transform: none;
}

/* Indent deeper sections, as we've run out of special title styles */
.Section.Titled .Section.Titled .Section.Titled .Section.Titled .Section.Titled .Section {
  margin-left: 32px;
}
