.Group {
  width: 100%;
}

.Section {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.Section .Title {
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  margin: 16px 0;
  color: #6B8792;
  text-transform: uppercase;
}

.Section > .Items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.Section.Vertical > .Items {
  flex-direction: column;
  align-items: flex-start;
}

/* NOTE: Ideally, we would have CSS-in-JS at this point, since it's an UI lib, but we can at least force generated code to behave */
.Section.Vertical > .Items :global .dslField {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  margin-right: 0;
}

.Section .Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Section.Titled:not(:last-child) > .Items {
  margin-bottom: 16px;
}

.Section.Titled:not(:last-child) > .Items:empty {
  margin-bottom: 0;
}

.Section .Items:empty + .Header {
  display: none;
}

.Section.Titled .Section.Titled .Title {
  font-size: 15px;
  color: #4A5559;
}

.Section.Titled .Section.Titled .Section.Titled .Title {
  font-size: 13px;
  color: #6B8792;
  text-transform: uppercase;
  font-weight: normal;
}

.Section.Titled .Section.Titled .Section.Titled .Section.Titled .Title {
  font-size: 14px;
  color: #4A5559;
  text-transform: none;
}

/* Indent deeper sections, as we've run out of special title styles */
.Section.Titled .Section.Titled .Section.Titled .Section.Titled .Section.Titled .Section {
  margin-left: 32px;
}

.Section.SingleColumn > .Items > :global(.dslField),
.Section.SingleColumn > .Items > .Section {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
}

.Section.TwoColumns > .Items > :global(.dslField),
.Section.TwoColumns > .Items > .Section.Vertical {
  width: calc((100% - 16px) / 2);
  max-width: calc((100% - 16px) / 2);
  margin-right: 16px;
}

.Section.TwoColumns > .Items > :global(.dslField):nth-child(2),
.Section.TwoColumns > .Items > .Section.Vertical:nth-child(2) {
  margin-right: 0;
}

.Section.ThreeColumns > .Items > :global(.dslField),
.Section.ThreeColumns > .Items > .Section.Vertical {
  width: calc((100% - 32px) / 3);
  max-width: calc((100% - 32px) / 3);
  margin-right: 16px;
}

.Section.ThreeColumns > .Items > :global(.dslField):nth-child(3),
.Section.ThreeColumns > .Items > .Section.Vertical:nth-child(3) {
  margin-right: 0;
}

.Section.TwoColumns > .Items > .Section.Vertical,
.Section.ThreeColumns > .Items > .Section.Vertical {
  align-self: flex-start;
}

@media (max-width: 767px) {
  .Section.TwoColumns > .Items > :global(.dslField),
  .Section.TwoColumns > .Items > .Section.Vertical,
  .Section.ThreeColumns > .Items > :global(.dslField),
  .Section.ThreeColumns > .Items > .Section.Vertical {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
