<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="errorFile" xsi:type="File" fileName="${basedir}/logs/errors.log" />
	<target name="traceFile" xsi:type="File" fileName="${basedir}/logs/trace.log" />
  </targets>

  <rules>
    <logger name="*" minLevel="Error" writeTo="errorFile" />
    <logger name="*" minLevel="Trace" writeTo="traceFile" />
  </rules>
</nlog>