.Grid {
  margin-top: 8px;
}

.Header {
  height: 61px;
  display: flex;
  justify-content: space-between;
}

.Search {
  display: flex;
  justify-content: flex-end;
  max-height: 46px;
  border: 1px solid lightgray;
}

.InputContainer {
  width: 100%;
}

.Search :global .form-group {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .InputContainer {
    max-width: 240px;
  }
}

.Max {
  display: inline-block;
  margin: 16px 0;
}

.Grid :global .btn.btn-xs {
  margin-right: 4px;
}

.Button {
  margin-right: 4px;
}

.Loading {
  position: relative;
  width: 100%;
  min-height: 240px;
}
