<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="autofacConfiguration" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <appSettings>
    <!--add key="SmtpServer" value="mail.ngs.hr" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpUseSSL" value="true" />
    <add key="SmtpUsername" value="username" />
    <add key="SmtpPassword" value="password" /-->
    <add key="ServerAssembly_Mailer" value="Model.Mailer.dll" />
    <add key="ConnectionString" value="server=localhost;port=5432;database=Development;user=postgres;password=6666;encoding=unicode" />
  </appSettings>
  <autofacConfiguration>
    <modules>
      <module type="Revenj.Configuration.Server.ServerConfiguration, Revenj.Configuration.Server" />
    </modules>
  </autofacConfiguration>
</configuration>
