@value clickableHoverColor #005580;
@value clickableLinkColor #1477A7;

.PlaceholderValue {
  text-align: center;
  font-weight: 300;
}

.Clickable {
  color: clickableLinkColor !important;
  cursor: pointer;
}

.Clickable:hover {
  color: clickableHoverColor !important;
  text-decoration: underline;
}

.StatusCell {
  font-size: 12px;
  font-weight: bold;
}

.TooltipCell {
  color: clickableLinkColor;
}

.TooltipCell:hover {
  color: clickableHoverColor;
}

.FieldCell {
  margin-top: 16px;
  min-width: unset;
  width: 100%;
  text-align: left !important;
}
