
.idea/
out/
*.properties
*.class
target/
out/
*.iml

.classpath
.project
.settings

revenj-core/org.revenj.patterns.DomainEventHandler*
revenj-core/revenj_container_Registrations*
revenj-core/org.revenj.extensibility.SystemAspect