.Presenter {
  position: relative;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .Presenter {
    padding: 0 12px;
  }

  :global .MobileBody {
    :local .Presenter {
      padding-bottom: 64px;
    }
  }
}

.Actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .Actions {
    position: static;
    top: 8px;
    right: 16px;
  }
}

.ExportButton {
  margin-left: 8px;
}

.ActionsContainer {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0;
}

.FooterActions {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .FooterActions {
    margin-bottom: 64px;
  }
}
