<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OfficeLocation" value="C:/Program Files (x86)/LibreOffice 4/program/soffice.exe"/>
    <add key="OfficeArgument" value="-norestore -nofirststartwizard -nologo -headless -convert-to pdf"/>
    <add key="PdfConverter_Local" value="NGS.OfficeConverter, PdfConverter"/>
    <!--add key="PdfConverter_Service" value="NGS.ServiceConverter, PdfConverter"/-->
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint name="" address="net.pipe://localhost/pdf" binding="netNamedPipeBinding" contract="NGS.IPdfConverter" />
    </client>
    <services>
      <service name="NGS.PdfService">
        <endpoint address="net.pipe://localhost/pdf" binding="netNamedPipeBinding" contract="NGS.IPdfConverter" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
