/* TODO: fix css loader to enable importing variables from css files on non-linux environment */

.Expander {
  color: #D3D2D3;
  font-size: 14px;
  cursor: pointer;
}

:global .rt-td.rt-expandable {
  padding-left: 11px;
}
