<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="autofacConfiguration" type="Revenj.Extensibility.Autofac.Configuration.SectionHandler, Revenj.Core" />
  </configSections>
  <appSettings>
    <add key="PluginsPath" value="." />
    <add key="ApplicationMode" value="Debug" />
    <add key="ServerAssembly" value="../../cache/GeneratedModel.dll"/>
    <add key="ConnectionString" value="server=localhost;port=5432;database=revenj;user=revenj;password=revenj;encoding=unicode" />
    <add key="HttpAddress_local8999" value="http://localhost:8999/" />
    <!--add key="DefaultAuthorization" value="Basic cmV2ZW5qOnJldmVuag==" /-->
    <add key="CustomAuth" value="Revenj.Http.NoAuth"/>
  </appSettings>
  <!--system.diagnostics>
    <sources>
      <source name="Revenj.Database" switchValue="All" />
      <source name="Revenj.Serialization" switchValue="All" />
      <source name="Revenj.Aspects" switchValue="All" />
      <source name="Revenj.Server" switchValue="All">
        <listeners>
          <remove name="Default" />
          <add name="xmlLog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xmlLog" type="System.Diagnostics.XmlWriterTraceListener" initializeData="revenj.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics-->
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <!-- REST service-->
        <add relativeAddress="RestApplication.svc"
             service="Revenj.Wcf.RestApplication, Revenj.Wcf" />
        <!-- REST plugins-->
        <add relativeAddress="Crud.svc"
             service="Revenj.Plugins.Rest.Commands.CrudCommands, Revenj.Plugins.Rest.Commands" />
        <add relativeAddress="Commands.svc"
             service="Revenj.Plugins.Rest.Commands.StandardCommands, Revenj.Plugins.Rest.Commands" />
        <add relativeAddress="Domain.svc"
             service="Revenj.Plugins.Rest.Commands.DomainCommands, Revenj.Plugins.Rest.Commands" />
        <add relativeAddress="Reporting.svc"
             service="Revenj.Plugins.Rest.Commands.ReportingCommands, Revenj.Plugins.Rest.Commands" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <autofacConfiguration>
    <modules>
      <module type="Revenj.Wcf.StandardModule, Revenj.Wcf" />
    </modules>
    <components>
      <component type="Revenj.Http.NoAuth, Revenj.Http" service="Revenj.Security.IPermissionManager, Revenj.Core.Interface" />
    </components>
  </autofacConfiguration>
</configuration>
