@value themeLightGrey #8098A1;

.Description {
  position: relative;
  cursor: pointer;
}

.Description::before {
  font-size: 12px;
  font-weight: bold;
  content: '?';
  color: #BEBEBE;
}

.Description > div {
  display: none;
  min-width: 180px;
  max-width: 480px;
  letter-spacing: 0.15px;
  line-height: 2rem;
  white-space: pre-line;
}

.Description:hover > div,
.Description:active > div {
  display: block;
}


.Label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Label .Description {
  margin-bottom: 6px;
}

.IconTooltip {
  min-width: 180px;
  max-width: 480px;
}

.Icon {
  margin-left: 8px;
  color: themeLightGrey;
}

/* Fixes description label spacing with checkboxes, borked from Bootstrap */
:global .checkbox :local .Label {
  padding: 0;
}
