<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofacConfiguration" type="Revenj.Extensibility.Autofac.Configuration.SectionHandler, Revenj.Core" />
  </configSections>
  <appSettings>
    <add key="HttpAddress" value="http://localhost:8996/" />
    <add key="ServerAssembly" value="../../cache/GeneratedModel.dll" />
    <add key="SignalR.CrossDomain" value="true" />
    <add key="ConnectionString" value="server=localhost;port=5432;database=Revenj;user=revenj;password=revenj;encoding=unicode" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <autofacConfiguration>
    <modules>
      <module type="Revenj.Wcf.StandardModule, Revenj.Wcf" />
    </modules>
  </autofacConfiguration>
</configuration>